<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
        <link rel="stylesheet" href="./style.css">
</head>
<body>
    <footer class="site-footer">
        <div class="footer-content">
            <div class="footer-left">
                <p><strong>© 2025 Blind Clone</strong></p>
                <p>Contact: support@example.com</p>
            </div>
            <div class="footer-links">
                <a href="#">이용약관</a>
                <span>|</span>
                <a href="#">개인정보처리방침</a>
                <span>|</span>
                <a href="#">공지사항</a>
                <span>|</span>
                <a href="#">사이트정보</a>
                <span>|</span>
                <a href="#">광고문의</a>
                <span>|</span>
                <a href="#">고객센터</a>
            </div>
        </div>
    </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>